html, 
body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

#element {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 400px;
  height: 300px;
}

#element #item {
  background: red;
  width : 100%;
  height: 100%;
}

#test {
  position: absolute;
  width:10px;
  height:10px;
  background:rgba(255,0,0);
  z-index: 10;
  transform-origin: left top;
  top: 245px;
  left: 295px
  /*transform: translate(300px, 250px);*/
}

.handles {
  position: absolute;
  border:thin dashed black;
  box-sizing:border-box;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.resize_handles, .rotation_handle {
  position: absolute;
  width:16px;
  height:16px;
  background:rgba(0,0,0,.4);
  border:dotted 1px black;
  border-radius:50%;
}

.move_handle {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.resize_handles.tl {
  top:-8px;
  left:-8px;
}
.resize_handles.tm {
  top:-9px;
  left:calc(50% - 8px);
}
.resize_handles.tr {
  top:-8px;
  right:-8px;
}
.resize_handles.ml {
  top: calc(50% - 8px);
  left:-9px;
}
.resize_handles.mr {
  top: calc(50% - 8px);
  right:-9px;
}
.resize_handles.bl {
  bottom:-8px;
  left:-8px;
}
.resize_handles.bm {
  bottom:-9px;
  left: calc(50% - 8px);
}
.resize_handles.br {
  bottom:-8px;
  right:-8px;
}


.rotation_handle {
  left: calc(50% - 8px);
  top: -50px;
}





/* HACK */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
